<footer class="site-footer">

  <div class="wrapper">

    <div class="social-media centered">
      <ul>
        <li>
          <i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp;
          <a href="https:/flynerd.pl/alex" target="_blank">flynerd.pl/alex</a>
        </li>
        <li>
          <i class="fa fa-paper-plane-o" aria-hidden="true"></i>&nbsp;&nbsp;
          <a href="mailto:hello@flynerd.pl">hello@flynerd.pl</a>
        </li>
      </ul>
      <ul>
        <li>
          <i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
          <a href="https://www.facebook.com/flynerdpl" target="_blank">facebook.com/flynerdpl</a>
        </li>
        <li>
          <i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;&nbsp;
          <a href="https://instagram.com/flynerdpl" target="_blank">instagram.com/flynerdpl</a>
        </li>
        <li>
          <i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;&nbsp;
          <a href="https://twitter.com/flynerdpl" target="_blank">twitter.com/flynerdpl</a>
        </li>
      </ul>
    </div>
    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div> -->

</footer>
