<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>

  {% include header.html %}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {% include step-nav.html %}
      {{ content }}
    </div>

  </main>

  {% include footer.html %}

</body>
<script>
  $(document).ready(function () {
    const toHide = document.querySelectorAll("div.solution .toggle.hiding~.highlight");

    for (const element of toHide) {
      element.classList.add("hidden");
    }
  });
</script>

</html>